<div class="container" color="primary" *ngIf="!loading">
  <mat-card>
    <img src="../../../assets/images/logo.png" />
    <h3>{{ details.email }}</h3>
    <h4>
      {{ details.firstName.toUpperCase() }} {{ details.lastName.toUpperCase() }}
    </h4>

    <form [formGroup]="passwrd">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          [type]="showPassword1 ? 'text' : 'password'"
          matInput
          formControlName="password"
          [errorStateMatcher]="matcher"
        />
        <mat-icon
          matSuffix
          class="clickable"
          (click)="showPassword1 = !showPassword1"
        >
          visibility{{ showPassword1 ? "_off" : "" }}
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input
          [type]="showPassword2 ? 'text' : 'password'"
          matInput
          formControlName="passwordConfirm"
          [errorStateMatcher]="matcher"
        />
        <mat-icon
          matSuffix
          class="clickable"
          (click)="showPassword2 = !showPassword2"
        >
          visibility{{ showPassword2 ? "_off" : "" }}
        </mat-icon>
      </mat-form-field>
      <!-- ERRORS -->
      <mat-error *ngIf="passwrd.get('password')?.hasError('minlength')">
        Password must be at least 8 characters
      </mat-error>
      <mat-error
        *ngIf="passwrd.get('password')?.hasError('required') && passwrd.dirty"
      >
        Please enter a new password
      </mat-error>
      <mat-error
        *ngIf="passwrd.value.password !== passwrd.value.passwordConfirm"
      >
        Password must match!
      </mat-error>
      <!-- ERRORS -->
    </form>
    <div style="padding: 1rem"></div>

    <button
      mat-raised-button
      [disabled]="
        !passwrd.valid ||
        submitting ||
        passwrd.value.password !== passwrd.value.passwordConfirm
      "
      color="primary"
      (click)="onSubmit()"
    >
      {{ submitting ? "Changing..." : "Proceed" }}
    </button>
    <div>
      <p class="forgotPass" (click)="goToLogin()">Go to Login</p>
    </div>
  </mat-card>
</div>
