<div class="container" color="primary" *ngIf="!loading">
  <mat-card>
    <img src="../../../assets/images/logo.png" />
    <h3>{{ details.email }}</h3>
    <h4>
      {{ details.firstName.toUpperCase() }} {{ details.lastName.toUpperCase() }}
    </h4>

    <app-security-form
      (onFormChange)="onPasswordChange($event)"
    ></app-security-form>

    <button
      mat-raised-button
      [disabled]="!valid || submitting"
      color="primary"
      (click)="onSubmit()"
    >
      {{ submitting ? "Changing..." : "Proceed" }}
    </button>
    <div>
      <p class="forgotPass" (click)="goToLogin()">Go to Login</p>
    </div>
  </mat-card>
</div>
