@import "../../../assets/scss/variable.scss";
.container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: $primary;

  mat-card {
    border-radius: 0;
    margin: 2px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
      margin-bottom: 2rem;
    }

    form {
      width: 80vw;
      display: block;
      margin-left: auto;
      margin-right: auto;

      mat-form-field {
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
        line-height: 1.2rem;

        mat-icon {
          cursor: pointer;
        }
      }

      button {
        display: block;
        width: 100%;
      }
    }

    div {
      padding-top: 0.5rem;
      p {
        display: inline;
        margin-top: 1rem;
        margin-bottom: 1.3rem;
        font-size: 1rem;
        cursor: pointer;
        color: $gray;
      }

      p:hover {
        color: $primary;
        font-weight: 600;
      }
    }
  }

  footer {
    margin-top: 1.8rem;
    font-size: 0.8rem;
    color: $white;

    a:link,
    a:visited {
      color: $white;
    }

    a:hover,
    a:active {
      color: $accent;
    }
  }
}

@media only screen and (min-width: 300px) {
  .container {
    position: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    mat-card {
      img {
        width: 55%;
      }

      form {
        width: 30rem;
      }

      footer {
        font-size: 1rem;
      }
    }
  }
  @media screen and (max-height: 700px) {
    .container {
      flex-wrap: nowrap;
      button {
        width: 30rem;
        align-self: center;
      }

      mat-card {
        padding: 1rem;
        padding-bottom: 0;
        p {
          margin: 0;
          margin-top: 0.8rem;
        }
      }

      footer {
        margin-top: 0.4rem;
        p {
          margin-top: 0;
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .container {
    mat-card {
      padding: 2rem;
      border-radius: 5px;
      img {
        width: 30rem;
      }
    }
  }
}
