h2 {
  margin-bottom: 0.7rem;
}
.dialog-wrapper {
  margin: auto;
  width: 100%;
  img {
    width: 50%;
    display: block;
    margin: auto;
  }
  p {
    text-align: center;
  }
}
.btn-container {
  justify-content: center;
}
