<h2 mat-dialog-title>Forgot Password</h2>
<div mat-dialog-content>
  <div class="dialog-wrapper mt-2">
    <img src="../../../../assets/images/email.png" alt="" />
    <p>
      Make sure your <b>email</b> is <b>registered</b> with us <br />
      because we will send you a link to reset your password.
    </p>
    <form [formGroup]="credential">
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-icon color="primary" matSuffix>mail</mat-icon>
        <mat-error *ngIf="credential.get('email')?.hasError('required')">
          Please enter your email
        </mat-error>
        <mat-error *ngIf="credential.get('email')?.hasError('pattern')">
          Please use email format
        </mat-error>
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions class="btn-container">
  <button id="cancelBtn" color="warn" class="block" mat-button mat-dialog-close>
    {{ leftButtonText | uppercase }}
  </button>
  <button
    id="submitBtn"
    color="primary"
    class="block"
    mat-raised-button
    (click)="onSubmit()"
    [disabled]="!credential.valid || saving"
    cdkFocusInitial
  >
    {{ saving ? "REQUESTING..." : "SUBMIT" }}
  </button>
</div>
