<mat-spinner style="margin: auto" [diameter]="60" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <h2 mat-dialog-title>
    Change Password
    <button
      class="logout-btn"
      mat-mini-fab
      style="size: 1px"
      color="warn"
      *ngIf="data.isNewUser"
      (click)="onLogout()"
      matTooltip="Logout"
    >
      <mat-icon>logout</mat-icon>
    </button>
    <mat-icon
      *ngIf="!data.isNewUser"
      (click)="onCancel()"
      class="close-btn"
      color="warn"
    >
      close
    </mat-icon>
  </h2>

  <div mat-dialog-content>
    <form
      [formGroup]="credentialPassword"
      style="display: flex; flex-direction: column"
    >
      <mat-form-field appearance="outline">
        <mat-label>Current Password </mat-label>
        <input
          [type]="hideCurrent ? 'password' : 'text'"
          matInput
          formControlName="currentPassword"
          (keyup)="pwCheck()"
        />
        <mat-icon
          style="cursor: pointer"
          matTooltip="Visibility"
          matSuffix
          (click)="hideCurrent = !hideCurrent"
        >
          {{ hideCurrent ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error *ngIf="credentialPassword.hasError('required')">
          Please enter your current password.
        </mat-error>
      </mat-form-field>

      <mat-divider class="my-3"></mat-divider>
      <mat-form-field appearance="outline">
        <mat-label>New Password </mat-label>
        <input
          [type]="hideNewPassword ? 'password' : 'text'"
          matInput
          formControlName="newPassword"
          (keyup)="pwCheck()"
        />
        <mat-icon
          style="cursor: pointer"
          matTooltip="Visibility"
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
        >
          {{ hideNewPassword ? "visibility" : "visibility_off" }}
        </mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password </mat-label>
        <input
          [type]="hideConfirmNewPassword ? 'password' : 'text'"
          matInput
          formControlName="confirmNewPassword"
          (keyup)="pwCheck()"
        />
        <mat-icon
          style="cursor: pointer"
          matTooltip="Visibility"
          matSuffix
          (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
        >
          {{ hideConfirmNewPassword ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error
          class="match"
          *ngIf="
            registerFormControl.confirmNewPassword.errors?.passwordMismatch ||
            pwError
          "
        >
          {{ pwMsg }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="center">
    <button
      color="primary"
      id="submitBtn"
      mat-raised-button
      (click)="onSubmit()"
      [disabled]="saving || !credentialPassword.valid || pwError"
      cdkFocusInitial
    >
      {{ saving ? "Saving..." : "Save password" }}
    </button>
  </div>
</ng-container>
