.btn-container {
  justify-content: center;
}
h2 {
  padding-bottom: 0.7rem;
}
input {
  color: #214781;
}
h3,
h4,
h1,
p {
  color: #214781;
}
:host ::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #214781 !important;
}

:host
  ::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #214781 !important;
}
:host ::ng-deep .mat-form-field-label {
  color: #214781 !important;
}
.match {
  color: red;
}
.body {
  background: #fff;
  padding: 1rem;
  border-radius: 20px;
}
