// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gardner-sceduling-system-primary: mat.define-palette(mat.$indigo-palette);
$gardner-sceduling-system-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$gardner-sceduling-system-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gardner-sceduling-system-theme: mat.define-light-theme(
  (
    color: (
      primary: $gardner-sceduling-system-primary,
      accent: $gardner-sceduling-system-accent,
      warn: $gardner-sceduling-system-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gardner-sceduling-system-theme);

/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variable.scss"; // Update this to scss variables:
html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

p,
span,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.highcharts-credits {
  display: none !important;
}

//UNIVERSAL CLASS

.btn-primary {
  background-color: $primary;
  color: $white;
}

.w-auto {
  width: 100%;
}

.text-center {
  text-align: center;
}

.success {
  background-color: $success;
  color: $white;
  .mat-simple-snackbar-action {
    color: $white !important;
  }
}

.pending {
  background-color: $gray;
  color: $white;
}

.failed {
  background-color: rgb(204, 78, 78);
  color: $white;
  .mat-simple-snackbar-action {
    color: $white !important;
  }
}

.btn-float-bottom {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 !important;
}

table {
  width: 100%;
  * {
    font-size: 12px !important;
  }

  thead {
    background-color: #f9f9f9 !important;
  }
}

mat-panel-title {
  font-size: 16px;
  font-weight: 500;
  color: $black;
  letter-spacing: calc(1em * 0.06);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-dialog-actions {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 1px solid rgb(238, 238, 238);
  height: 3rem;
}

.mat-dialog-title {
  border-bottom: 1px solid rgb(238, 238, 238);
  // padding-top: 1rem;
}

.dialog-no-padding {
  mat-dialog-container {
    padding: 0;
    border-radius: 0;
  }
}

.custom-dialog-container .mat-dialog-container {
  overflow: visible;
  .mat-dialog- .mat-dialog-title {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    .dialog-close-btn {
      display: inline;
      position: absolute;
      right: -43px;
      top: -42px;
    }
  }
  .mat-dialog-content {
    max-height: 70vh;
  }
}

.fullscreen-dialog-container {
  height: 100%;
  width: 100% !important;
  max-width: none !important;
  .mat-dialog-container {
    border-radius: 0px;
    padding-bottom: 0;
    overflow: visible;
    .mat-dialog-title {
      position: relative;
      text-align: left;
      text-transform: uppercase;
      flex-grow: 1;
      margin: 0;
      max-height: 35px;
      .dialog-close-btn {
        display: inline;
        position: absolute;
        right: -43px;
        top: -42px;
      }
    }
    .mat-dialog-content {
      max-height: 85vh;
      flex-grow: 2;
      // height: 90%;
    }
    .mat-dialog-actions {
      flex-grow: 1;
      margin: 0;
      max-height: 35px;
    }
  }
}

.dialog-large {
  width: 70%;
}

.dialog-image-viewer {
  width: 80vw;
  height: 80vh;
  .mat-dialog-content {
    max-height: 100%;
  }
}

.close-btn {
  margin-right: -5px !important;
  margin-top: -6px !important;
  float: right;
  cursor: pointer;
}

.logout-btn {
  margin-right: -5px !important;
  margin-top: -6px !important;
  float: right;
  cursor: pointer;
}

.close-btn:hover {
  transform: rotate(90deg);
  transition: 0.2s;
}

.dialog-title {
  color: #565656;
  padding-bottom: 0.7rem;
  text-align: left;
}

.dialog-responsive-light {
  width: 30%;
}

.dialog-darken {
  width: 35%;
  mat-dialog-container {
    background-color: #3387c8;
    color: #fff;
  }
}

.dialog-transparent {
  mat-dialog-container {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}

//SCROLL

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 1rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #556c8089;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dialog-change {
  width: 30%;
  mat-dialog-container {
    // background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
@media only screen and (max-width: 760px) {
  .dialog-responsive-light {
    min-width: 95vw;
  }
  .dialog-darken {
    min-width: 95vw;
  }
  .dialog-large {
    min-width: 100vw;
  }
  .dialog-change {
    width: 100%;
  }
}

.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}
